@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #ba0606;
}

a:hover {
    color: #750000 !important;
}

.text-theme {
    color: #ba0606 !important;
}

.text-theme-2 {
    color: #6e6e6e !important;
}

.bg-theme {
    background: #ba0606 !important;
}

.bg-theme-2 {
    background: #6e6e6e !important;
}

.btn-theme {
    background: #ba0606 !important;
    color: #fff !important;
    border-color: #ba0606 !important;
}

.btn-outline-theme {
    color: #ba0606 !important;
    border: 1px solid #ba0606 !important;
}

.btn-outline-theme:hover {
    color: #fff !important;
    background-color: #ba0606 !important;
}

.form-control {
    background: #f5f5f5;
    border: none;
    border-radius: 0;
    font-size: 13px;
    padding: 10px;
}

.form-control::placeholder {
    font-size: 12px;
    color: #6d6d6d;
}

.form-label {
    color: #464444 !important;
}

.fs-10 {
    font-size: 10px !important;
}

.fs-11 {
    font-size: 11px !important;
}

.fs-12 {
    font-size: 12px !important;
}

.fs-13 {
    font-size: 13px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-15 {
    font-size: 15px !important;
}

.fs-30 {
    font-size: 30px !important;
}

#login {
    background: #ba0606;
    color: #fff;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login .content {
    text-align: center;
}

.btns button {
    width: 100%;
    border-radius: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bw-2 {
    border-width: 2px !important;
}

.divider {
    border-bottom: 1px dashed #ccc;
    width: 75%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

#sign-up {
    background-color: #00c33e30;
    min-height: 100vh;
}

.sign-content {
    text-align: center;
    background-color: #fff;
    padding: 30px;
}

.border-none {
    border: none !important;
}

.br-0 {
    border-radius: 0px !important;
}

.otp-input-fields {
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.otp-input-fields input {
    height: 40px;
    width: 40px;
    background-color: #eeeeee;
    border-radius: 4px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 16px;
    /* Firefox */
}

.otp-input-fields input::-webkit-outer-spin-button,
.otp-input-fields input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.otp-input-fields input[type=number] {
    -moz-appearance: textfield;
}

.otp-input-fields input:focus {
    border: 2px solid #ba0606 !important;
    font-size: 20px;
}

.header {
    background: #fff;
    top: 0;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 50px;
    box-shadow: rgb(99 99 99 / 20%) 0px 0px 8px 0px;
}

.profile img {
    border: 2px solid #ba0606;
    cursor: pointer;
}

.search-bar {
    width: 400px;
}

.search-bar i {
    position: absolute;
    top: 20px;
    left: 476px;
    color: #696969;
}

.footer {
    background: #fff;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px 2px #0003;
    border-radius: 50%;
    padding: 3px;
}

.footer button {
    outline: none;
    border: none;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    background-color: transparent;
    position: relative;
}

.footer button:hover {
    background-color: #ba060630 !important;
    color: #ba0606 !important;
}

iframe {
    width: 100%;
    height: 100vh;
}

.main-section {
    background-color: #fff;
    border-radius: 15px;
    padding: 30px;
    color: #000;
}

.type-btn {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
}

.type-btn:hover {
    background-color: #00c33e30;
}

.time-dur {
    background-color: #f8f4ff;
    padding: 25px;
    border-radius: 10px;
}

.time-dur .form-control {
    background-color: #fff !important;
}

.payment-row {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 10px;
}

.payment-row p {
    margin-bottom: 0px;
}

.text-justify {
    text-align: justify !important;
}

.star-fill {
    color: #fdcc0d !important;
}

.star-not-fill {
    color: #bcbcbc !important;
}

@media(max-width:500px) {
    .payment-row {
        padding-left: 25px;
        padding-right: 25px;
    }

    .container {
        padding: 30px 0px 0px 0px;
    }

    .main-section {
        border-radius: 50px 50px 0px 0px;
        height: 100vh;
        padding-top: 40px;
    }


    #second {
        /* overflow-y: hidden; */
    }
}

.pt-100 {
    padding-top: 100px !important;
}

.price-range::-webkit-slider-thumb {
    background: #ba0606;
}

.price-range::-moz-range-thumb {
    background: #ba0606;
}

.price-range::-ms-thumb {
    background: #ba0606;
}

.upload-div {
    display: flex;
    justify-content: center;
}

.upload-img {
    width: 100px;
    height: 100px;
    background: #00be3e2e;
    border-radius: 10px;
    border: 1px dashed #00bf3e;
    cursor: pointer;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-img i {
    color: #02802b;
    font-size: 20px;
}

.uploaded-img {
    width: 100px;
    height: 100px;
    border: 1px dashed #00bf3e;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 10px;
}

.uploaded-img-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100px;
    height: 150px;
    margin-right: 10px;
}

#map{
    height: 100vh!important;
    width: 100%;
}

.sub-header{
    position: fixed;
    top: 60px;
    z-index: 1;
    padding: 10px;
    background-color: #ba0606;
    width: 100%;
}

#home_map{
    width: 100%;
    height: 200px;
}

.alert{
    position: absolute;
    top: 75px;
    width: 400px;
    margin-left: 50px;
    margin-right: 50px;
    z-index: 1;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.btn-none{
    background: none;
    border: none;
}

.lh-header{
    line-height: 13px!important;
}


.loader {
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 0 0 #fff4;
    animation: l2 1.5s infinite linear;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
}

.loader:before,
.loader:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    box-shadow: 0 0 0 0 #fff4;
    animation: inherit;
    animation-delay: -0.5s;
}

.loader:after {
    animation-delay: -1s;
}

@keyframes l2 {
    100% {
        box-shadow: 0 0 0 40px #0000
    }
}

.user_data {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    width: 30%;
    border-radius: 10px;
    padding: 15px;
}